.container-footer {
  display: flex;
  background-image: url(../assets/background/Background_Contacts.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  flex-direction: column;
}


.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 48px;

  h2 {
    padding-block: 8px;
  }
}

.redes-cotacts {
  padding-top: 48px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  li {
    background-color: var(--gray-400);
    width: 400px;
    height: 68px;
    border-radius: 8px;
    padding-inline: 20px;

    display: flex;
    align-items: center;
    justify-content:space-between;

    .left {
      display: flex;
      align-items: center;
      
      .icon {
        width: 28px;
        height: 28px;
        background-repeat: none;
        background-size: cover;
        background-position: center;
      }

      .icon-linkedin {
        background-image: url(../assets/icons/LinkedinLogo.png);
      }

      .icon-Instagram {
        background-image: url(../assets/icons/instagram.png);
      }

      .icon-GitHub {
        background-image: url(../assets/icons/github-1.png);
      }

      .icon-E-mail {
        background-image: url(../assets/icons/mail.png);
      }

      span {
        padding-left: 12px;
      }
    }

    &:hover {
      border: 1.5px solid var(--blue);

      .icon-linkedin {
        background-image: url(../assets/icons/LinkedinLogoBlue.png);
      }

      .icon-Instagram {
        background-image: url(../assets/icons/instagramBlue.png);
      }

      .icon-GitHub {
        background-image: url(../assets/icons/githubBlue.png);
      }

      .icon-E-mail {
        background-image: url(../assets/icons/mailBlue.png);
      }

    }

  }


}
