* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-family-Asap: "Asap", sans-serif;
  --h1: 800 56px/120% var(--font-family-Asap);
  --h2: 800 24px/120% var(--font-family-Asap);
  --h3: 800 16px/120% var(--font-family-Asap);

  --font-family-Inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--font-family-Inconsolata);

  --font-family-Maven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-Maven);
  --text-sm: 14px/140% var(--font-family-Maven);
}

body{
  background-color: var(--gray-600);
  color: var(--gray-200);
}