header {
  display: flex;
  background-image: url(../assets/background/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: center; 
  align-items: flex-start;
}


.container-header {
  width: 1040px;
  padding-inline: 163px;
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center; 

  p:nth-child(2) {
    padding-top: 56px;
    padding-bottom: 8px;
  }

  p span {
    color: var(--red);
  }

  p:nth-child(4) {
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: center;
  }
}

.circle {
  width: 97px;
  height: 97px;
  border: 2px solid var(--red); 
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

    img:nth-child(1) {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: flex;
    justify-items: center;
  }

    img:nth-child(2) {
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 2;
    bottom: -8px;
    right: -8px;
  }
}


#skills {
  list-style: none;
  padding-bottom: 99.5px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  

  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding-inline: 16px;
    height: 40px;
    gap: 8px;

    background-color: var(--gray-400);
    border-radius: 40px;
  }

  img {
    width: 24px;
    height: 24px;
  }

  span {
    text-align: center;
  }
}
