.highlight {
  background-color: var(--gray-500);
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 144px;
  
}

#header {
  padding-top: 72px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding-bottom: 8px;
  }
}

.works {
  width: 1040px;
}

.cards {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center; 

  img {
    margin-top: 12px;
    width: 306px;
    height: 156px;
    border-radius: 8px;

  }

 figcaption {
  padding-inline: 16px;

  h3 {
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 8px
  };
 }

}

.cards:hover {
  border: 1.5px solid var(--gray-300);
}


.services {
  background-color: var(--gray-600);

    .header-services {
    padding-top: 88px;
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding-bottom: 8px;
    }
  }

  .services-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 120px;
  }

  figure {
    display: flex;
    align-items:flex-start;
    flex-direction: column;

    width: 280px;
    height: 155px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;
    padding: 20px;

    .block {
      width: 48px;
      height: 48px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    

    h3 {
      padding-bottom: 8px;
    }
  }

}


