.highlight {
  background-color: var(--gray-500);
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-bottom: 144px;
  
}

#header {
  padding-top: 72px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding-bottom: 8px;
  }
}

.works {
  width: 1040px;
}

.cards {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center; 

  img {
    margin-top: 12px;
    width: 306px;
    height: 156px;
    border-radius: 8px;

  }

 figcaption {
  padding-inline: 16px;

  h3 {
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 8px
  };
 }

}